@import "../libs/fontello/css/fontello.css";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}

.container{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.title{
  font-family: Montserrat,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: #23283B;
}



//отдельные блоки
@import "button";
@import "description";

//секции
@import "header";
@import "hero";
@import "welcome";
@import "programs";
@import "review";
@import "team";
@import "play";

//cложные элементы
@import "overlay";

